*
{
    margin : 0;
    padding : 0;
}
body
{
    font-family: cursive;
    box-sizing : border-box;
}
.title
{
    text-align : center;
    background-color : #333;
    color : #fff;
    letter-spacing : 2px;
    font-weight : 500;
    user-select : none;
}
.header-box h2
{
    background-color : rgb(60, 60, 60);
    font-size : 25px;
    color : white;
    width : 155px;
    height : 45px;
    text-align : center;
    border-radius : 5%; 
    font-weight : 500;
    user-select : none;
}
.header-box a
{
    width: 155px;
    height : 45px;
    font-weight : 500;
    font-size : 25px;
    text-align : center;
    padding : 0;
}
.header-box 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.container
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error, .success
{
    background-color : rgb(60, 60, 60);
    font-size : 20px;
    font-weight : 500;
    color : white;
    width : 200px;
    height : 45px;
    text-align : center;
    border-radius : 5%; 
}
form input[type="text"] 
{
    width: 500px;
}